<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>第一个 ECharts 实例</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="/js/jquery-1.11.3.min.js" ></script>
    <!-- 最新的 Bootstrap 核心 JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- 引入自定义的js -->
    <script src="/js/common.js" ></script>
    <script src="/js/search.js" type="text/javascript"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 500px;height:350px; "></div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '第一个 ECharts 实例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<div id="main1" style="width: 575px;height:300px; float:left"></div>
<script type="text/javascript">
function bt(){
	//获取页面中的数据
	var name=$("#name").val();
	//把获取的数据异步提交给服务端Controller
	$.ajax({
		url:"search/product",
		type:"get",
		data:{"name":name},
		dataType:"json",
		success:function(map){
		ESInfo= JSON.stringify(map.o)
		var myChart = echarts.init(document.getElementById('main1'));
option = {
    title: {
       text: '某站点用户访问来源',
        subtext: '纯属虚构',
        left: 'center'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: [ESInfo.name]
    },
    series: [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                {value: ESInfo.keywords, name: ESInfo.name},
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
		alert("ESInfo===="+ESInfo )
		},
		error:function(){
			//后台异常返回信息
			alert("系统异常！");
		}

	});
	return false;
}

    </script>
<div id="main2" style="width: 575px;height:300px; float:right"></div>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('main2'));
option = {
    tooltip: {
        formatter: '{a} <br/>{b} : {c}%'
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '业务指标',
            type: 'gauge',
            detail: {formatter: '{value}%'},
            data: [{value: 50, name: '完成率'}]
        }
    ]
};

setInterval(function () {
    option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
    myChart.setOption(option, true);
},2000);
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<div style="clear:both"></div>
</body>
</html>