<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>欢迎来到爱码邦注册界面</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="/js/jquery-1.11.3.min.js" ></script>
		<!-- 最新的 Bootstrap 核心 JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- 引入自定义的js -->
		<script src="/js/common.js" ></script>
		<script src="/js/register.js"></script>
		
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							注册
						</div>
						<div style="text-align:center;">
						<span id="sss" ></span>
						</div>
						<div style="text-align:center;">
						<span id="sst" ></span>
						</div>
						<form action="javascript:;">
							
							<div class="form_text_ipt">
								<input id="inputName" name="username" type="text" placeholder="用户名">
							</div>
							<div style="text-align:center;">
							<span id="ssu" ></span>
							</div>
							<div class="ececk_warning"><span>用户名不能为空</span></div>
							<div class="form_text_ipt">
								<input  id="inputPassword"  name="password" type="password" placeholder="密码(至少6位包括大小写字母和数字)">
							</div>
							<div style="text-align:center;">
							<span id="ssp" ></span>
							</div>
							<div style="text-align:center;">
							<span id="sspp" ></span>
							</div>
							<div class="ececk_warning"><span>密码不能为空</span></div>
							<div class="form_text_ipt">
								<input id="inputPassword2" name="password2" type="password" placeholder="重复密码">
							</div>
							<div style="text-align:center;">
							<span id="ssp2" ></span>
							</div>
							<div class="ececk_warning"><span>密码不能为空</span></div>
							<!-- <div class="form_text_ipt">
								<input name="code"  type="text" placeholder="验证码">
							</div> -->
							<div class="form_text_ipt_1">
								<input id="valiImg2" name="code"  type="text" placeholder="验证码">
							    <img id="valiImg" src="user/doGet1" width="" height="" alt="" />
						        <span></span>
							</div>
							<div style="text-align:center;">
							<span id="ssv" ></span>
							</div>
							<div class="ececk_warning"><span>验证码不能为空</span></div>
							<div class="form_btn">
								<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="login">马上登录</a>
							</div>
						</form>
						<div class="other_login">
							<div class="left other_left">
								<span>其它登录方式</span>
							</div>
							<div class="right other_right">
								<!-- <a href="#"><i class="fa fa-qq fa-2x"></i></a>
								<a href="#"><i class="fa fa-weixin fa-2x"></i></a>
								<a href="#"><i class="fa fa-weibo fa-2x"></i></a> -->
							    <a href="http://mail.qq.com"><i class="fa fa-qq fa-2x"></i></a>
								<a href="http://img13.3lian.com/201403/04/fe19cde67eeb450e790e921529b14925.jpg"><i class="fa fa-weixin fa-2x"></i></a>
								<a href="weibo.html"><i class="fa fa-weibo fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="text-align:center;">
</div>
	</body>
</html>
